 /* Master styles */
 .body {
    font-family: "Lato", sans-serif;
    margin: 0px;
    height: 2000px;
  }
  
  .conrainer {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: rgb(241, 236, 236);
    border-radius: 10px;
    margin: 20px;
  }
  .left-side {
      display: flex;
  }
    /* Nav styles */
  .nav-wrapper > .left-side > div {
      margin-right:20px;
      font-size: 1.5em;
      text-transform: uppercase;
   }
  
   .nav-link-wrapper {
     height: 50px;
     border-bottom: 1px solid transparent;
     transition: border-bottom 0.5s;
   }
  
   .nav-link-wrapper a {
      color: #8a8a8a;
      text-decoration: none;
      transition: color 0.5s;
   }
  
   .nav-link-wrapper-hover {
      border-bottom: 1px solid black;
   }
  
  .nav-link-wrapper a:hover {
    color: black;
  }
  .active-nav-link {
    border-bottom: 1px solid black;
  }
  .active-nav-link a {
    color: black !important;
  }
  
  .right-side {
    font-size: 30px;
  }
  
  /*Portfolio styles */
  
  .portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
   /* might need to work on more */
  
  .portfolio-item-wrapper {
    position: relative;
    margin: 5px;
  }
  
  .portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
    position: relative;
    left: 70%;
  }
  
  .img-text-wrapper .Subtitle {
    transition: 1s;
    font-weight: 700;
    color: transparent;
    position: relative;
    left: 40%;
  }
  
  .img-text-wrapper:hover .Subtitle {
    font-weight: 600;
    color: lightseagreen;
    position: relative;
  }
  
  .img-darken {
    transition: 1s;
    filter: brightness(10%);
  }
  
  /* About page */
  
  .two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .profile-image-wrapper img {
    width: 100%;
  }
  
  .profile-content-wrapper {
    padding: 20px;
  }
  
  .profile-content-wrapper h1 {
    color: lightseagreen;
  }
  
  
  
  
  
  
  
  
  
  
  
  